.view-container {
    position: relative;
}

.view-frame.ng-enter, .view-frame.ng-leave {
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.view-frame.ng-enter {
    -webkit-animation: 0.5s fade-in;
    -moz-animation: 0.5s fade-in;
    -o-animation: 0.5s fade-in;
    animation: 0.5s fade-in;
    z-index: 100;
}

.view-frame.ng-leave {
    -webkit-animation: 0.5s fade-out;
    -moz-animation: 0.5s fade-out;
    -o-animation: 0.5s fade-out;
    animation: 0.5s fade-out;
    z-index:99;
}

.view-main.ng-leave        {
    -webkit-animation:slideOutLeft 0.5s both ease-in;
    -moz-animation:slideOutLeft 0.5s both ease-in;
    animation:slideOutLeft 0.5s both ease-in;
}
.view-main.ng-enter 		{
    -webkit-animation:slideInRight 0.5s both ease-in;
    -moz-animation:slideInRight 0.5s both ease-in;
    animation:slideInRight 0.5s both ease-in;
}

/* slide in from the bottom */
@keyframes slideOutLeft {
    to 		{ transform: translateX(-100%); }
}
@-moz-keyframes slideOutLeft {
    to 		{ -moz-transform: translateX(-100%); }
}
@-webkit-keyframes slideOutLeft {
    to 		{ -webkit-transform: translateX(-100%); }
}

/* slide in from the right */
@keyframes slideInRight {
    from 	{ transform:translateX(100%); }
    to 		{ transform: translateX(0); }
}
@-moz-keyframes slideInRight {
    from 	{ -moz-transform:translateX(100%); }
    to 		{ -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
    from 	{ -webkit-transform:translateX(100%); }
    to 		{ -webkit-transform: translateX(0); }
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}
@-moz-keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}
@-webkit-keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}
@-moz-keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}
@-webkit-keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}