body {
    padding-bottom: 60px;
    padding-top: 60px;
}
#tabs {
    margin-top: 5%;
    padding-right: 35%;
}
#leftBar {
    line-height:30px;
    width:22%;
    float:left;
    padding-bottom: 8%;
    margin-left: 1%;
}
#content {
    width:70%;
    float:left;
	padding-left:10%;
	padding-top:10%;
}
#logOutBtn {
    float: right;
    margin: 10px 10px 10px 10px;
}

#address,#info {
    float: left;
    margin: 10px 10px 10px 10px;
}

#topBar, #bottomBar{
	background-color: #428bca;
	border-color: #357ebd;
	color:#fff;
} 
.caption>h3 {
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
.caption>div>div {
    margin-left: 25%;
    margin-right: 25%;
    
}
.images>div {
    margin-left: 40%;
    margin-right: 40%;
}
