.container{
    float: left;
    width: 80%;
    margin-left: 10%;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 5px;
    border: solid 1px #555;
    background-color: #eed;
    box-shadow: 10px -10px 5px rgba(0,0,0,0.6), inset 0 0 15px #000000;
    -moz-box-shadow: 10px -10px 5px rgba(0,0,0,0.6), inset 0 0 15px #000000;
    -webkit-box-shadow: 10px -10px 5px rgba(0,0,0,0.6), inset 0 0 15px #000000;
    -o-box-shadow: 10px -10px 5px rgba(0,0,0,0.6), inset 0 0 15px #000000;
}

.form-control.ng-invalid {
    border-color: rgb(237, 19, 55);
    box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset, rgba(237, 19, 55, 0.596078) 0px 0px 7.9595799446106px 0px;
}

.form-control.ng-valid {
    border-color: rgb(42, 212, 19);
    box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset, rgba(42, 212, 19, 0.596078) 0px 0px 7.9595799446106px 0px;
}
small {margin: 2% auto 2% auto; width: 50%; color: rgb(237, 19, 55); }

.header-footer.well {
    text-align: center;
    width: 100%;
    font-size: 30px;
    color: #F1FAD1;
    font-style: oblique;
    vertical-align: middle;
    background-color: #474747;
    border-radius: 0;
    margin-bottom: 0;
    border: none;
}


footer {
    position : absolute;
    height: 5%;
    bottom: 0;
    margin-top: 5%;
}

.con.well {
    position: fixed;
    width: 90%;
    height: 100%;
    margin: 0 5% 0 5%;
    bottom: 0;
    border-right: 10px solid rgba(0,0,0,0.4);
    border-left: 10px solid rgba(0,0,0,0.4);
    border-radius: 0;
    border-top: none;
    border-bottom: none;
    padding: 0;
    background-color: rgba(0,128,255,0.9) ;
}

table {
    width: 80%;
    margin: 4% auto 4% auto;
}

tr {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.imgcontainer{
    margin-left: auto;
    margin-right: auto;
}
.houseselector select option:hover {
    background-color: #002a80;
    color: #ffffff;

}
.houseselector select{
    margin-left: auto;
    margin-right: auto;
    width: 99%;
}
.houseselector ul {
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.houseselector {
    display: none;
    float: left;
    height: 100%;
    width: 80%;
    margin-left: 10%;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    border: solid 1px #555;
    background-color: #eed;
    box-shadow: 10px -10px 5px rgba(0,0,0,0.6);
    -moz-box-shadow: 10px -10px 5px rgba(0,0,0,0.6);
    -webkit-box-shadow: 10px -10px 5px rgba(0,0,0,0.6);
    -o-box-shadow: 10px -10px 5px rgba(0,0,0,0.6);
}

.circle-container {
    width: 24em;
    height: 24em;
    /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/
    border: 1px;
    border-radius: 50%;
    background-color: rgba(224,224,224, 0.7);
    margin: auto auto auto auto;

    -webkit-animation-name: rotateContainer;
    -webkit-animation-duration: 6000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}
/* Rotates clockwise. */
@-webkit-keyframes rotateContainer{
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
/* Rotates counterclockwise. */
@-webkit-keyframes rotateItem{
    from { -webkit-transform: rotate(360deg); }
    to { -webkit-transform: rotate(0deg); }
}
.circle-container div {
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    width: 4em; height: 4em;
    margin: -2em;
}
.circle-container img { display: block; width: 100%;
    -webkit-animation-name: rotateItem;
    -webkit-animation-duration: 6000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;

}
.circle-container div img {
    border: solid 1px #555;
    box-shadow: 7px -7px rgba(0,0,0,0.6);
    -moz-box-shadow: 7px -7px rgba(0,0,0,0.6);
    -webkit-box-shadow: 7px -7px rgba(0,0,0,0.6);
    -o-box-shadow: 7px -7px rgba(0,0,0,0.6);
    border-radius:100px;
}
.deg0 { transform: translate(12em); } /* 12em = half the width of the wrapper */
.deg90 {  transform: rotate(90deg) translate(12em) rotate(-90deg); } /* 12em = half the width of the wrapper */
.deg270 {  transform: rotate(270deg) translate(12em) rotate(-270deg); } /* 12em = half the width of the wrapper */
.deg45 { transform: rotate(45deg) translate(12em) rotate(-45deg); }
.deg135 { transform: rotate(135deg) translate(12em) rotate(-135deg); }
.deg180 { transform: translate(-12em); }
.deg225 { transform: rotate(225deg) translate(12em) rotate(-225deg); }
.deg315 { transform: rotate(315deg) translate(12em) rotate(-315deg); }
.form-control{
    margin-top: 3%;
}