/*General*/
#view {
    position: fixed;
    bottom: 50px;
    top: 50px;
    width: 100%;
}

#main {
    width: 100%;
    height: 100%;
}

#blur {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    bottom: 50px;
    top: 50px;
    width: 100%;
}
#overlayAlarm, #overlayLoading {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0, 0, 0, 0.85);
    z-index:9999;
    color:white;
}

.alarmMessage.well {
    width: 50%;
    height: 50%;
    margin: 5% auto 5% auto;
    color: #000000;
    font-size: large;
    font-style: oblique;
    font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
    -webkit-box-shadow: 0 0 20px #D9534F, inset 0 0 20px #D9534F;
    -moz-box-shadow: 0 0 20px #D9534F, inset 0 0 20px #D9534F;
    box-shadow: 0 0 20px #D9534F, inset 0 0 20px #D9534F;
    border: 2px solid #E8A9A7;
}

/*General*/

/*Header And Footer Main Page */
#topBar, #bottomBar {
    background-color: #428bca;
    border-color: #357ebd;
    color: #fff;
    margin: 0 0 0 0;
}

.container {
    width: 98%;
    margin: 0 auto 0 auto;
}

#logOutBtn {
    float: right;
    margin: 10px 10px 10px 10px;
}

#admin-button, #turnonalarmbtn {
    float: right;
    margin: 10px 10px 10px 10px;
}

#address, #info, #logo {
    float: left;
    height: 30px;
    margin: 10px 10px 10px 10px;
}
/*Header And Footer Main Page */

/*Left side bar*/
#tabs {
    margin-top: 5%;
    overflow: scroll;
    height: 90%;
}
#leftBar.well {
    line-height: 30px;
    width: 100%;
    margin: 0;
    height: 100%;
    border: none;
    -moz-box-shadow: inset 0 0 15px #000000;
    -webkit-box-shadow: inset 0 0 15px #000000;
    box-shadow: inset 0 0 15px #000000;
}

#selector {
    width: 25%;
    padding: 0;
    bottom: 50px;
    top: 50px;
    position: fixed;
}

.nav-tabs.nav-justified>li>a {
    border: 1px solid #AEAFB0;
    border-radius: 4px;
}

.nav-tabs.nav-justified>.active>a,
.nav-tabs.nav-justified>.active>a:hover,
.nav-tabs.nav-justified>.active>a:focus {
    background-color: #428bca;
    border: 1px solid #AEAFB0;
    color: #ffffff;
}

/*Left side bar*/

/*Right side container*/
#devices {
    width: 75%;
    bottom: 50px;
    top: 50px;
    padding: 1%;
}

.content {
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    border-radius: 5px;
    border: 2px solid #428bca;
    -moz-box-shadow: 0 0 15px #428bca;
    -webkit-box-shadow: 0 0 15px #428bca;
    box-shadow: 0 0 15px #428bca;
}
.device-container {
    padding: 1%;
    overflow: scroll;
}
/**/

/*Admin option tabs*/
.admin-service {
    height: 100%;
    width: 100%;
    border: 2px solid #428bca;
}
#addingtable  {
   border-collapse: collapse;
}
#rowseperator {
    margin-bottom: 5%;
    padding: 4%;
}
#devicetoaddfield {
    margin-top: 2%;
}
#devicetoaddfield, #roomtoaddfield {
    -webkit-box-shadow: 0 0 8px #428bca, inset 0 0 15px #428bca;
    -moz-box-shadow: 0 0 8px #428bca, inset 0 0 15px #428bca;
    box-shadow: 0 0 8px #428bca, inset 0 0 15px #428bca;
    border: 2px solid #428BCA;
    border-radius: 2px;
    font-family: Helvetica, Arial, sans-serif;
}
.addingroomwell.well {
    padding: 0;
}
#optionrooms {
    -webkit-box-shadow: 0 0 5px #428bca, inset 0 0 15px #428bca;
    -moz-box-shadow: 0 0 5px #428bca, inset 0 0 15px #428bca;
    box-shadow: 0 0 5px #428bca, inset 0 0 15px #428bca;
    border: 1px solid #428BCA;
    border-radius: 1px;
    font-family: Helvetica, Arial, sans-serif;
}
#selectroomlabel {
    padding-bottom: 2%;
}
#addroomlabel, #selectroomlabel, #indoorscheckbox {
    padding: 1%;
    font-family: Consolas;
    font-size: large;
    font-style: oblique;
    margin-bottom: 2%;
}

.admin-service th {
    text-align: center;
    font-family: Consolas;
    background-color: #428bca;
    color: #ffffff;
}
.admin-service td {
    width: 50%;
    height: 100%;
    padding: 0;
    -moz-box-shadow: inset 0 0 15px #000000;
    -webkit-box-shadow: inset 0 0 15px #000000;
    box-shadow: inset 0 0 15px #000000;
}

#userSelect{
    width: 80%;
    height: 10%;
    font-size: large;
}
#deviceSelect {
    width: 60%;
    height: 100%;
    padding: 2%;
}

#roomselect {
    width: 50%;
}
#deviceSelect, #userSelect, #roomselect {
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 0 0 15px #428bca, inset 0 0 15px #428bca;
    -moz-box-shadow: 0 0 15px #428bca, inset 0 0 15px #428bca;
    box-shadow: 0 0 15px #428bca, inset 0 0 15px #428bca;
    border: 2px solid #A2C4E1;
    border-radius: 4px;
    font-family: Helvetica, Arial, sans-serif;
}
#deviceSelect optgroup {
    border: 2px solid #A2C4E1;
    padding: 1%;
    margin: 1%;
    border-radius: 4px;
    background-color: #E3EEF7;
}
#deviceSelect option:hover {
    background-color: #A2C4E1;
}
#pending, #addingdevicewell {
    display: inline-block;
    width: 100%;
    height: 100%;
}

#addingdevicewell {
    display: inline-block;
    width: 100%;
    height: 90%;
}
#authUser {
    display: inline-block;
    width: 100%;
    height: 100%;
}

#deviceSelect option {
    font-size: medium;
    text-align: center;
}
#fieldUserSelect {
    padding-top: 20%;
}

.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: #ABD2ED;
    color: #ffffff;
}
#fieldDeviceSelect {
    display: inline-block;
    width: 100%;
    height: 100%;
}
#next-auth {
    margin-top: 30%;
}
#no-pending {
    margin-top: 20%;
}
#no-pending span, #pending label {
    font-family: Consolas;
    font-size: large;
    font-style: oblique;
    margin-bottom: 2%;
}

#admin-caption {
    height: 30px;
}

#authorization,
#adding {
    height: 98%;
    width: 98%;
    margin: 0 auto 0 auto;
}
/*Admin option tabs*/

/*Devices panel*/
.thumbnail {
    background-color: #E3EEF7;
    -webkit-box-shadow: inset 0 0 15px #428bca;
    -moz-box-shadow: inset 0 0 15px #428bca;
    box-shadow: inset 0 0 15px #428bca;
    border: 2px solid #A2C4E1;
    color: #000000;
    font-size: medium;
    font-style: oblique;
    font-family: Consolas;
}

.caption > h3 {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.caption > div > div {
    margin-left: 25%;
    margin-right: 25%;

}

.images > div {
    margin-left: 40%;
    margin-right: 40%;
}
/*Devices Panel*/
#ballsWaveG{
    margin-top: 15%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    height: 94px;
}
#ballscontainer {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 81px;
}
.ballsWaveG{
    position:absolute;
    background-color:#3BCC6E;
    width:50px;
    height:50px;
    background-color:#3BCC6E;
    -moz-animation-name:ballsWaveG;
    -moz-animation-duration:1.6s;
    -moz-animation-iteration-count:infinite;
    -moz-border-radius:25px;
    -webkit-animation-name:ballsWaveG;
    -webkit-animation-duration:1.6s;
    -webkit-animation-iteration-count:infinite;
    -webkit-border-radius:25px;
    -ms-animation-name:ballsWaveG;
    -ms-animation-duration:1.6s;
    -ms-animation-iteration-count:infinite;
    -ms-animation-direction:linear;
    -ms-border-radius:25px;
    -o-animation-name:ballsWaveG;
    -o-animation-duration:1.6s;
    -o-animation-iteration-count:infinite;
    -o-border-radius:25px;
    animation-name:ballsWaveG;
    animation-duration:1.6s;
    animation-iteration-count:infinite;
    border-radius:25px;
}

#ballsWaveG_1{
    -moz-animation-delay:0.64s;
    -webkit-animation-delay:0.64s;
    -ms-animation-delay:0.64s;
    -o-animation-delay:0.64s;
    animation-delay:0.64s;
}

#ballsWaveG_2{
    margin-left: 50px;
    -moz-animation-delay:0.8s;
    -webkit-animation-delay:0.8s;
    -ms-animation-delay:0.8s;
    -o-animation-delay:0.8s;
    animation-delay:0.8s;
}

#ballsWaveG_3{
    margin-left: 100px;
    -moz-animation-delay:0.96s;
    -webkit-animation-delay:0.96s;
    -ms-animation-delay:0.96s;
    -o-animation-delay:0.96s;
    animation-delay:0.96s;
}

#ballsWaveG_4{
    margin-left:150px;
    -moz-animation-delay:1.12s;
    -webkit-animation-delay:1.12s;
    -ms-animation-delay:1.12s;
    -o-animation-delay:1.12s;
    animation-delay:1.12s;
}

#ballsWaveG_5{
    margin-left:200px;
    -moz-animation-delay:1.28s;
    -webkit-animation-delay:1.28s;
    -ms-animation-delay:1.28s;
    -o-animation-delay:1.28s;
    animation-delay:1.28s;
}

#ballsWaveG_6{
    margin-left:250px;
    -moz-animation-delay:1.44s;
    -webkit-animation-delay:1.44s;
    -ms-animation-delay:1.44s;
    -o-animation-delay:1.44s;
    animation-delay:1.44s;
}

#ballsWaveG_7{
    margin-left:300px;
    -moz-animation-delay:1.6s;
    -webkit-animation-delay:1.6s;
    -ms-animation-delay:1.6s;
    -o-animation-delay:1.6s;
    animation-delay:1.6s;
}

#ballsWaveG_8{
    margin-left:350px;
    -moz-animation-delay:1.76s;
    -webkit-animation-delay:1.76s;
    -ms-animation-delay:1.76s;
    -o-animation-delay:1.76s;
    animation-delay:1.76s;
}

@-moz-keyframes ballsWaveG{
    0%{
        background-color:#3BCC6E;
    }

    100%{
        background-color:#3E94D6;
    }

}

@-webkit-keyframes ballsWaveG{
    0%{
        background-color:#3BCC6E;
    }

    100%{
        background-color:#3E94D6;
    }

}

@-ms-keyframes ballsWaveG{
    0%{
        background-color:#3BCC6E;
    }

    100%{
        background-color:#3E94D6;
    }

}

@-o-keyframes ballsWaveG{
    0%{
        background-color:#3BCC6E;
    }

    100%{
        background-color:#3E94D6;
    }

}

@keyframes ballsWaveG{
    0%{
        background-color:#3BCC6E;
    }

    100%{
        background-color:#3E94D6;
    }

}






