<div class="circle-container">
    <div title="Project logo" class='center'><img src='img/logo.png'></div>
    <div id='deg0'><img class="icons" src='img/Alarms.png'></div>
    <div id='deg45'><img class="icons" src='img/Environment.png'></div>
    <div id='deg90'><img class="icons" src='img/Sun.png'></div>
    <div id='deg135'><img class="icons" src='img/Laptop.png'></div>
    <div id='deg180'><img class="icons" src='img/Music.png'></div>
    <div id='deg225'><img class="icons" src='img/Power.png'></div>
    <div id='deg270'><img class="icons" src='img/Something.png'></div>
    <div id='deg315'><img class="icons" src='img/WaterLeckage.png'></div>
</div>