<form class="form-sign-in" name="login_form" role="form" novalidate
      ng-submit="">
    <h2 class="form-sign-in-heading">Please sign in</h2>
    <div id="login-inputs-container">
        <input type="text"
               class="form-control"
               placeholder="SSN"
               name="ssn"
               ng-minlength=10
               ng-maxlength=10
               ng-pattern= 'numericPattern'
               ng-model="login.ssn"
               required/>

        <div class="error"
             ng-show="login_form.ssn.$dirty && login_form.ssn.$invalid ">
            <small class="error" ng-show="login_form.ssn.$error.required">
                SSN is required!
            </small>
            <small class="error" ng-show="login_form.ssn.$error.pattern">
                SSN contains invalid characters.
            </small>
            <small class="error" ng-show="login_form.ssn.$error.minlength">
                SSN can´t be less than 10 characters.
            </small>
            <small class="error" ng-show="login_form.ssn.$error.maxlength">
                SSN can´t be more than 10 characters.
            </small>
        </div>
        <input type="password"
               class="form-control"
               placeholder="Password"
               name="password"
               ng-model="login.password"
               ng-minlength=6
               required>

        <div class="error"
             ng-show="login_form.password.$dirty && login_form.password.$invalid ">
            <small class="error" ng-show="login_form.password.$error.required">
                Password is required!
            </small>
            <small class="error" ng-show="login_form.password.$error.minlength">
                Password cannot be less than 6 characters!
            </small>
        </div>
    </div>
    <div>
        <button class="btn btn-lg btn-primary btn-block"
                type="submit" ng-click="authenticate(); console.log('test')"
                ng-disabled="login_form.$invalid">Sign in
        </button>
        <div>
            <a ng-click="showRegister(false)">No Account?</a>
        </div>
    </div>
</form>