<div class="cube">
    <div class="plane-1">
        <div class="top-left"></div>
        <div class="top-middle"></div>
        <div class="top-right"></div>
        <div class="middle-left"></div>
        <div class="middle-middle"></div>
        <div class="middle-right"></div>
        <div class="bottom-left"></div>
        <div class="bottom-middle"></div>
        <div class="bottom-right"></div>
    </div>
    <div class="plane-2">
        <div class="top-left"></div>
        <div class="top-middle"></div>
        <div class="top-right"></div>
        <div class="middle-left"></div>
        <div class="middle-middle"></div>
        <div class="middle-right"></div>
        <div class="bottom-left"></div>
        <div class="bottom-middle"></div>
        <div class="bottom-right"></div>
    </div>
    <div class="plane-3">
        <div class="top-left"></div>
        <div class="top-middle"></div>
        <div class="top-right"></div>
        <div class="middle-left"></div>
        <div class="middle-middle"></div>
        <div class="middle-right"></div>
        <div class="bottom-left"></div>
        <div class="bottom-middle"></div>
        <div class="bottom-right"></div>
    </div>
</div>