<div class="con well">
    <header class="header-footer well" role="banner" aria-expanded="true">
        <img src="img/logo.png" width="72" height="72">
        <span>marter House Project HKR 2014/2015</span>
    </header>
    <table>
        <tbody>
            <tr>
                <td>
                    <div id="login-container" class="container well">
                        <form class="form-signin" name="login_form" role="form" novalidate
                              ng-submit="submit()">
                            <h2 class="form-signin-heading">Please sign in</h2>
                            <input type="email"
                                   class="form-control"
                                   placeholder="Email"
                                   name="ssn"
                                   ng-model="login.email"
                                   ng-pattern="/^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$/"
                                   required />

                            <div class="error"
                                 ng-show="login_form.ssn.$dirty && login_form.ssn.$invalid ">
                                <small class="error" ng-show="login_form.ssn.$error.required">
                                    Email is required!
                                </small>
                                <small class="error" ng-show="login_form.ssn.$error.email">
                                    Invalid email address.
                                </small>
                            </div>
                            <input type="password"
                                   class="form-control"
                                   placeholder="Password"
                                   name="password"
                                   ng-model="login.password"
                                   ng-minlength=6
                                   required>
                            <div class="error"
                                 ng-show="login_form.password.$dirty && login_form.password.$invalid ">
                                <small class="error" ng-show="login_form.password.$error.required">
                                    Password is required!
                                </small>
                                <small class="error" ng-show="login_form.password.$error.minlength">
                                    Password cannot be less than 6 characters!
                                </small>
                            </div>

                            <label class="checkbox">
                                <input type="checkbox" value="remember-me"> Remember me
                            </label>
                            <button class="btn btn-lg btn-primary btn-block"
                                    type="submit"
                                    ng-disabled ="login_form.$invalid">Sign in</button>
                        </form>
                    </div>
                    <div id="housesel" class="houseselector well">
                        <form class="form-selecthouse" role="form" ng-submit="submit()">
                            <h2 class="form-signin-heading">Please Select House</h2>
                            <ul>
                                <select size="6" name="selectionField" multiple="yes">
                                    <option value="CA">House 1</option>
                                    <option value="CO">House 2</option>
                                    <option value="CN">House 3</option>
                                    <option value="CA">House 1</option>
                                    <option value="CO">House 2</option>
                                    <option value="CN">House 3</option>
                                </select>
                            </ul>
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Select</button>
                        </form>

                    </div>
                </td>
                <td>
                    <div class="imgcontainer">
                        <div class="circle-container">
                            <div title="Projet logo" class='center'><img src='img/logo.png'></div>
                            <div class='deg0'><img src='img/Alarms.png'></div>
                            <div class='deg45'><img src='img/Environment.png'></div>
                            <div class='deg90'><img src='img/Sun.png'></div>
                            <div class='deg135'><img src='img/Laptop.png'></div>
                            <div class='deg180'><img src='img/Music.png'></div>
                            <div class='deg225'><img src='img/Power.png'></div>
                            <div class='deg270'><img src='img/Something.png'></div>
                            <div class='deg315'><img src='img/WaterLeckage.png'></div>
                        </div>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <footer class="header-footer well">

    </footer>
</div>
<script src="js/lib/login.js"></script>