<nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="topBar">
    <div class="container">
        <a id="logo" href="index.html"><img src="img/logo.png" width="30" height="30"></a>
        <span id="address">Hello {{user.first_name}} {{user.last_name}}  </span>
        <button class="btn btn-sm btn-warning" name="logout" ng-click="logout()" title="logout" id="logOutBtn">
            <span class="glyphicon glyphicon-off"></span> Log Out
        </button>
        <button ng-show="user.admin" class="btn btn-sm btn-warning" name="Admin Page" ng-click="showAdmin()" title="adminpage"
                id="admin-button">
            <span class="glyphicon glyphicon-wrench"></span> Admin
        </button>
    </div>
</nav>
<div id="blur">
    <table id="main">
        <tbody>
        <tr>
            <td id="selector">
                <div id="leftBar" class="well">
                    <div>
                        <ul class="nav nav-tabs nav-justified">
                            <li ng-class="{active: isLocationSelected(1)}" role="presentation">
                                <a ng-click="setRoom(lastRoom); setSelectedLocation(1)">Interior</a>
                            </li>
                            <li ng-class="{active: isLocationSelected(2)}" role="presentation">
                                <a ng-click="setRoom({}); setSelectedLocation(2)">Exterior</a>
                            </li>
                        </ul>
                    </div>
                    <div id="tabs">
                        <div ng-show="isLocationSelected(1)" class="tab-pane active" id="interior">
                            <ul class="nav nav-pills nav-stacked" ng-repeat="room in rooms | filter:{ indoors: true }">
                                <li ng-class="{ active: isSelected(room.id)}">
                                    <a ng-click="selectTab(room.selected); setRoom(room)">{{room.name}}</a>
                                </li>
                            </ul>
                        </div>
                        <div ng-show="isLocationSelected(2)" class="tab-pane" id="exterior">
                            <ul class="nav nav-pills nav-stacked" ng-repeat="room in rooms | filter:{ indoors: true }">
                                <li ng-class="{ active: isSelected(out.id)}">
                                    <a ng-click="selectTab(out.selected);">{{out.name}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </td>
            <td id="devices">
                <section class="content device-container" ng-hide="isSwitched">
                    <div ng-repeat="device in room.devices">
                        <div class="row-horizontal">
                            <div class="col-sm-6 col-md-4">
                                <div class="thumbnail" ng-switch="device.state">
                                    <div class="images">
                                        <div class="image1" ng-switch-when="true">
                                            <img src="img/lampon.jpg" alt="Device On" height="42" width="42">
                                        </div>
                                        <div class="image2" ng-switch-when="false">
                                            <img src="img/lampoff.jpg" alt="Device Off" height="42" width="42">
                                        </div>
                                    </div>
                                    <div class="caption">
                                        <h3>{{device.name}}</h3>

                                        <div>
                                            <div class="btn-group btn-toggle">
                                                <button ng-class="{'active btn-success': device.state}"
                                                        ng-click="changeDeviceState(room.id, device.id, true)"
                                                        class="btn btn-default">ON
                                                </button>
                                                <button ng-class="{'active btn-danger' : !device.state}"
                                                        ng-click="changeDeviceState(room.id, device.id, false)"
                                                        class="btn btn-default">OFF
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="content" ng-show="isSwitched">
                    <table class="admin-service">
                        <thead>
                        <tr id="admin-caption">
                            <th class="service-title">Authorize Users</th>
                            <th class="service-title">Add Room or Device</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <div id="authorization">
                                    <div ng-show="checkForNonAuthUsers()" id="pending">
                                        <form id="authUser">
                                            <div id="fieldUserSelect" ng-show="formAuthUser">
                                                <label for="userSelect">Select a User</label>

                                                <div>
                                                    <select id="userSelect" ng-model="userId">
                                                        <option value="1" ng-repeat="unUser in unAuthUsers" ><span>{{unUser.first_name}} {{unUser.last_name}}</span> <span>Email: {{unUser.email}}</span>
                                                        </option>
                                                    </select>
                                                </div>
                                                <button class="btn btn-lg btn-primary" ng-click="nextAuthUser(false)"
                                                        name="next-auth" id="next-auth">
                                                    Next
                                                </button>
                                            </div>
                                            <div id="fieldDeviceSelect" ng-hide="formAuthUser" ng-submit="authorizeUserByAdmin(unUser.ssn, ids)">
                                                <label for="deviceSelect">Select Devices</label>
                                                <div style="height: 75%; padding-bottom: 0.5%">
                                                    <select id="deviceSelect" multiple>
                                                        <optgroup label="{{room.name}}" ng-repeat="room in rooms ">
                                                            <option value="{{room.id}}" ng-repeat="device in room.devices">
                                                                <span>{{device.name}}</span>
                                                            </option>
                                                        </optgroup>
                                                    </select>
                                                </div>
                                                <div style="padding-bottom: 1%"><span>*Press Ctrl to select multiple devices.</span>
                                                </div>
                                                <button class="btn btn-lg btn-warning" ng-click="nextAuthUser(true)"
                                                        name="back-auth" id="back-auth">
                                                    Back
                                                </button>
                                                <button class="btn btn-lg btn-primary" ng-click="nextAuthUser(true)"
                                                        name="submit" id="submit-auth">
                                                    Approve
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                    <div ng-hide="checkForNonAuthUsers()" id="no-pending">
                                        <span>There are no current<br/>registration requests!</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div id="adding">
                                    <div id="addingdevicewell well" style="height: 60%;">
                                        <span id="selectroomlabel" for="selectRoom">Add a device to a room</span>

                                        <div id="selectRoom" style="padding-bottom: 0.5%; height:90%;">
                                            <form style="padding: 1%; height: 90%;" name="addDevice_form" role="form"
                                                  novalidate
                                                  ng-submit="addADevice(roomId[0].id, device_name)">
                                                <select style="padding: 2%; height: 80%;" id="roomselect" multiple
                                                        ng-model="roomId" ng-options="room.name for room in rooms">
                                                </select>
                                                <div>
                                                    <input id="devicetoaddfield" ng-model="device_name" type="text"
                                                           placeholder="Device's Name">
                                                    <input id="adddevicebtn" class="btn btn-lg btn-primary btn-sm"
                                                           type="submit" value="Add Device">
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="addingroomwell well" style="height: 25%; margin-top: 5%;">
                                        <label id="addroomlabel" style="padding: 1%;">Add A Room</label>

                                        <form name="addRoom_form" role="form" novalidate
                                              ng-submit="addARoom(roomName, isIndoors)">
                                            <div>
                                                <label id="indoorscheckbox" for="checkbox">Is indoors</label>
                                                <input type="checkbox" ng-model="isIndoors" id="checkbox"/>
                                            </div>
                                            <div>
                                                <input id="roomtoaddfield" ng-model="roomName" type="text"
                                                       placeholder="Room's Name">
                                                <input id="addroombtn" class="btn btn-lg btn-primary btn-sm"
                                                       type="submit" value="Add Room">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

</div>
<nav class="navbar navbar-default navbar-fixed-bottom" id="bottomBar" role="navigation">
    <div class="container">
        <span id="info">Live Updates</span>
        <button id="turnonalarmbtn" type="button" class="btn btn-warning btn-xs" ng-click="testAlarm()">Test Alarm
        </button>
    </div>
</nav>
<div id="overlayLoading" ng-show="isLoading">
    <div id="ballsWaveG">
        <div id="ballscontainer">
            <div id="ballsWaveG_1" class="ballsWaveG">
            </div>
            <div id="ballsWaveG_2" class="ballsWaveG">
            </div>
            <div id="ballsWaveG_3" class="ballsWaveG">
            </div>
            <div id="ballsWaveG_4" class="ballsWaveG">
            </div>
            <div id="ballsWaveG_5" class="ballsWaveG">
            </div>
            <div id="ballsWaveG_6" class="ballsWaveG">
            </div>
            <div id="ballsWaveG_7" class="ballsWaveG">
            </div>
            <div id="ballsWaveG_8" class="ballsWaveG">
            </div>
        </div>
    </div>
</div>
<div id="overlayAlarm" ng-show="isAlarm">
    <div class="alarmMessage well">
        <span>The {{getActivateAlarm().name}} is ON!</span>
    </div>
    <button type="button" class="btn btn-lg btn-danger" ng-click="closeAlarm(getActivateAlarm().id)">Turn Off</button>
</div>
<!--
Images data:;base64,
<audio autoplay>
  <source src="" type="audio/mp3">
</audio>
-->

