<nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="topBar">
    <div class="container">
        <a id="logo" href="index.html"><img src="img/logo.png" width="30" height="30"></a>
        <span id="address">{{house[0].address}}</span>
        <button class="btn btn-sm btn-warning" name="logout" title="logout" id="logOutBtn">
            <span class="glyphicon glyphicon-off"></span> Log Out
        </button>
        <button class="btn btn-sm btn-warning" name="Admin Page" ng-click="showAdmin()" title="adminpage"
                id="admin-button">
            <span class="glyphicon glyphicon-on"></span> Admin
        </button>
    </div>
</nav>
<div id="blur">
    <table id="main">
        <tbody>
        <tr>
            <td id="selector">
                <div id="leftBar" class="well">
                    <div>
                        <ul class="nav nav-tabs" id="op">
                            <li class="active" role="presentation">
                                <a ng-click="setRoom(lastRoom)" name="interior" data-toggle="tab">Interior</a>
                            </li>
                            <li role="presentation">
                                <a ng-click="setRoom({})" name="exterior" data-toggle="tab">Exterior</a>
                            </li>
                            <li role="presentation">
                                <a ng-click="setRoom({})" name="alarms" data-toggle="tab">Alarms</a>
                            </li>
                        </ul>
                    </div>
                    <div id="tabs">
                        <div class="tab-content">
                            <div class="tab-pane active" id="interior">
                                <ul class="nav nav-pills nav-stacked" ng-repeat="room in house[3].rooms">
                                    <li ng-class="{ active: isSelected(room.selected)}">
                                        <a ng-click="selectTab(room.selected); setRoom(room)">{{room.name}}</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-pane" id="exterior">
                                <ul class="nav nav-pills nav-stacked" ng-repeat="out in house[2].outside">
                                    <li ng-class="{ active: isSelected(out.selected)}">
                                        <a ng-click="selectTab(out.selected);">{{out.name}}</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-pane" id="alarms">
                                <ul class="nav nav-pills nav-stacked" ng-repeat="alarm in house[1].alarms">
                                    <li ng-class="{ active: isSelected(alarm.selected)};">
                                        <a ng-click="selectTab(alarm.selected);">{{alarm.name}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td id="devices">
                <section class="content" ng-hide="isSwitched">
                    <div ng-repeat="device in room.devices">
                        <div class="row-horizontal">
                            <div class="col-sm-6 col-md-4">
                                <div class="thumbnail" ng-switch="device.state">
                                    <div class="images">
                                        <div class="image1" ng-switch-when="true">
                                            <img src="img/lampon.jpg" alt="Device On" height="42" width="42">
                                        </div>
                                        <div class="image2" ng-switch-when="false">
                                            <img src="img/lampoff.jpg" alt="Device Off" height="42" width="42">
                                        </div>
                                    </div>
                                    <div class="caption">
                                        <h3>{{device.name}}</h3>

                                        <div>
                                            <div class="btn-group btn-toggle">
                                                <button ng-class="{'active btn-primary': device.state}"
                                                        ng-click="device.state = true" class="btn btn-default">ON
                                                </button>
                                                <button ng-class="{'active btn-primary' : !device.state}"
                                                        ng-click="device.state = false" class="btn btn-default">OFF
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="content" ng-show="isSwitched">
                    <div class="admin-panel">
                        <h3>Authorize User</h3>
                        <div id="authorize-user">
                            <table class="auth well">
                                <thead>
                                <tr>
                                    <th>
                                        <span class="title">User Information</span>
                                    </th>
                                    <th>
                                        <span class="title">Devices Allowed</span>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <ul>
                                            <li><span class="info-title">First name:</span></li>
                                            <li><span class="info-title">Last name:</span></li>
                                            <li><span class="info-title">Email:</span></li>
                                        </ul>
                                    </td>
                                    <td>
                                        <form>
                                            <div class=".admin-panel" ng-repeat="item in getAllRooms()">
                                                <span>{{item.name}}</span>
                                                <div ng-repeat="device in item.devices">
                                                    <span>{{device.name}}</span><input type="checkbox">
                                                </div>
                                            </div>
                                            <input type="submit" value="Accept user"/>
                                            <input type="submit" value="Deny user access"/>
                                        </form>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <h3>Add Room</h3>
                        <div id="adding-room">
                            <form name="add-room-form" role="form" novalidate ng-submit="">
                                <label for="room-name">Room Name</label>
                                <input class="form-control" id="room-name" type="text" name="room-name" />
                                <button class="btn btn-lg btn-primary btn-block" type="submit" name="button">Add</button>
                            </form>
                        </div>
                        <h3>Add Device to Room</h3>

                        <div id="adding-device">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                            <ul ng-repeat="item in getAllRooms()">
                                                <li><button class="btn btn-lg btn-primary btn-block" type="button" name="item.selected">{{item.name}}</button></li>
                                            </ul>
                                        </td>
                                        <td>
                                            <form>
                                                <label for="device-name">Device Name:</label>
                                                <input type="text" class="form-control" name="device-name" id="device-name" />
                                                <button class="btn btn-lg btn-primary btn-block" type="submit" name="button">Add</button>
                                            </form>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

</div>
<nav class="navbar navbar-default navbar-fixed-bottom" id="bottomBar" role="navigation">
    <div class="container">
        <span id="info">Some stuff</span>
    </div>
</nav>
<script>
    $(document).ready(function () {
        $(".admin-panel").accordion({heightStyle: "fill"});
    });
</script>