<ul class="nav nav-tabs nav-justified">
    <li id="nav-user" class="active" role="presentation">
        <a show-tab="" href="#auth" name="authz-user" data-toggle="tab">Authorize Users</a>
    </li>
    <li id="nav-add" role="presentation">
        <a show-tab="" href="#adding" name="add-room-device" data-toggle="tab">Add Room or Device</a>
    </li>
</ul>
<div class="tab-content" id="admin-content">
    <div class="tab-pane active" id="auth">
        <authorize-user></authorize-user>
    </div>
    <div class="tab-pane" id="adding">
        <add-room-device></add-room-device>
    </div>
</div>